* {
  margin: 2;
  padding: 2;
  box-sizing: border-box;
}
body {
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #c9d6ff;
  color: #222;
}

.booklist {
  width: 100vw;
  max-width: 2570px;
  max-height: 2570px;
  margin: 4rem auto;
  padding: 4rem;
  display: grid;
  gap: 4rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  /* set relative */
  position: relative;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  padding: 0.75rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: #302b63;
  color: #fff;
}

h1 {
  text-align: center;
  margin-top: 4rem;
}
